@import 'tailwindcss';
@config "../tailwind.config.ts";

@theme {
  --color-black: #000000;
  --color-almost-black: #0e0e0e;
  --color-lighter-black: #1e1e1e;
  --color-light-black: #333333;
  --color-gray: #999999;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
