@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --almost-black: #0e0e0e;
  --lighter-black: #1e1e1e;
  --light-black: #333333;
  --gray: #999999;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
}

body {
  color: var(--white); /* default */
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
